@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: IndieFlower;
  src: url(/IndieFlower.ttf);
}

.titleHeading {
  text-shadow: 0 0 1px black;
}

.titleCardEllipse {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  /* max-width: 400px; */
  height: 34px;
  /* Fallback for non-webkit */
  font-size: 17px;
  line-height: 2;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bodyCardEllipse {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  /* max-width: 400px; */
  height: 110px;
  /* Fallback for non-webkit */
  font-size: 17px;
  line-height: 1.7;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bgImage {
  background-image: url("/BG\ Group.svg");
  background-size: contain;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 20%;
  z-index: -1;
}

html,
body {
  font-family: IndieFlower, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
